body{
    margin: 0;
    padding: 0;
   
}
.page {
    max-width: 900px;     /* controls content width */
    margin: 0 auto;        /* centers content */
    padding: 40px 20px;    /* space from screen edges */
}

.header{
    height: 200px;
    display: flex;
    gap: 10px;
    align-items: flex-start;
   
  
}
.my-pic-div{
    display: inline-block;
    height: 100% ; 
    border: 2px solid rgb(61, 61, 61);
    border-radius: 10px;
   
    
}
.my-pic{
    height: 100%;
    
}
.my-info{
    display: inline-block;
    width: 500px;
    vertical-align: top;
    height: 93%;
    padding-top: 15px;
    
}.name,.address,.position{
    margin: 0;
    line-height: 25px;
    
}
.name{
    font-size: clamp(16px, 6vw, 40px);
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    
}   
.address{
   font-size: clamp(11px, 3vw, 14px);
    margin-bottom: 15px;
    color: rgb(45, 45, 45);
    font-family: Arial, Helvetica, sans-serif;
     white-space: nowrap;      /* DO NOT wrap */
    overflow: hidden;         /* prevent overlap */
    text-overflow: ellipsis;  /* optional ... */

    line-height: 1.2;

}
.position{
    font-size: clamp(12px, 3vw, 14px);
    font-family: Arial, Helvetica, sans-serif;
}
.address i{
    margin-right: 3px;
}
